#header-section{
    height: 600px;
    display: flex;
}
.half-width{
    display: flex;
    width: 50%;
    padding-left: 40px;
    margin: 50px 0 0 50px;
    align-items: center;
}
.heder-border{
    border-left: 3px solid #e66465;
}
.half-width h1{
    font-size: 50px;
}
.half-width h3{
    font-size: 30px;
}
.half-width p{
    font-size: 20px;
    text-align: justify;
}
.half-width img{
    width: 70%;
}
span{
    color: #ffb730;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 20px 0;
}


/*my-mission*/


#my-mission{
    height: 650px;
    padding-top: 20px;
}
#my-mission h1{
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}
.aim{
    display: flex;
    height: 400px;
    margin: 10px 100px;
}
.aim .mission{
    background-color: #daf3f1;   
}
.aim .vission{
    background-color: #f1dcdc;  
}
.aim .goals{
    background-color: #e7e7c7; 
}
.same{
    width: 30%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.mission img{
    height: 150px;
    width: auto;
}
.vission img{
    height: 150px;
    width: auto;
}
.goals img{
    height: 150px;
    width: auto;
}
.aim h3{
    font-size:25px;
}


/*project*/


#project{
    height: 600px;
    width: 100%;
}
.project-1{
    display: flex;
    height: 400px;
    margin: 100px 100px;
}
.project-1 img{
    height: 400px;
    width: 400px;
}


/*second*/


#second{
    height: 600px;
    width: 100%;
}
.project-2{
    display: flex;
    height: 400px;
    margin: 0 100px;
}
.project-2 img{
    height: 400px;
    width: 400px;
    margin-left: 100px;
}


/*contact*/



#contact{
    height: 600px;
    width: 100%;
}
.contact-h1{
    font-size: 50px;
    text-align: center;
}
form{
    height: 400px;
    width: 60%;
    margin: 0 20%;
    padding: 20px;
    border: 2px solid #808080;
    border-radius: 5px;
    background-color: #faf7f1;
    text-align: center;
}
button{
    color: white;
    background-color: #f1aca0;
    font-weight: 800;
    padding: 10px 30px;
    border-radius: 12px;
}



/*footer*/


.footer{
    height: 100px;
    background-color: #222222;
    text-align: center;
    padding: 30px;
}
.footer h1{
    color: white;
    font-size: 30px;
    font-style: italic;
}
.footer p{
    color: white;
}
.red{
    color: red;
}